ansiwrap==0.8.4
appdirs==1.4.3
asgiref==3.2.7
async-generator==1.10
attrs==19.3.0
Automat==20.2.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1591017828430/work
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1589761506780/work
black==19.10b0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1588860304135/work
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1589982006730/work
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
df2gspread==1.0.4
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1591810140801/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1591280207983/work
docopt==0.6.2
entrypoints==0.3
Fiona==1.8.13
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1590452865665/work
flake8-polyfill==1.0.2
flake8-quotes @ file:///home/conda/feedstock_root/build_artifacts/flake8-quotes_1589330264223/work
Flask==1.1.2
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1588861378954/work
GDAL==3.0.4
geographiclib==1.50
geopandas==0.7.0
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1589314920058/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1588651542737/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1590897464411/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1591812511021/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1591845734645/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1591653511941/work
google-auth-httplib2==0.0.3
googleapis-common-protos==1.52.0
gspread==3.1.0
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1590007784658/work
hyperlink==19.0.0
idna==2.9
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1591451756227/work
incremental==17.5.0
ipykernel==5.3.0
ipyparallel @ file:///home/conda/feedstock_root/build_artifacts/ipyparallel_1588749886877/work
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
jeepney==0.4.3
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1588433932455/work
kiwisolver==1.2.0
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1589927508659/work
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1591167413021/work
munch==2.5.0
mypy-extensions==0.4.3
nb-conda==2.2.1
nb-conda-kernels==2.2.3
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1591814389930/work
nbconvert==5.6.1
nbformat==5.0.6
nbstripout @ file:///home/conda/feedstock_root/build_artifacts/nbstripout_1591540057256/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1588514211290/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1588887220875/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1591485221441/work
oauth2client==4.1.3
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1590752755944/work
pandocfilters==1.4.2
papermill==2.1.0
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
parso==0.7.0
pathspec==0.8.0
patsy==0.5.1
pep8-naming==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pipreqs==0.4.10
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1588623599192/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.12.3
psycopg2==2.8.5
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycparser==2.20
pycrypto==2.6.1
PyDispatcher==2.0.5
pyflakes==2.2.0
Pygments==2.6.1
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1588596072923/work
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
pytesseract==0.3.4
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1589392299544/work
QtPy==1.9.0
queuelib==1.5.0
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1591646124572/work
requests==2.23.0
rsa==4.0
Rtree==0.9.4
scipy==1.4.1
Scrapy @ file:///home/conda/feedstock_root/build_artifacts/scrapy_1590508440836/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1591878760859/work
SecretStorage==3.1.2
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
sh @ file:///home/conda/feedstock_root/build_artifacts/sh_1589514333965/work
Shapely==1.7.0
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1588608467413/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1588651577140/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1589779059896/work
sqlparse==0.3.1
statsmodels==0.11.1
tabula-py @ file:///home/conda/feedstock_root/build_artifacts/tabula-py_1588135031065/work
tabulate==0.8.7
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1588242779679/work
terminado==0.8.3
testpath==0.4.4
textwrap3==0.9.2
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1591181521996/work
traitlets==4.3.3
Twisted==20.3.0
typed-ast==1.4.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1588470653596/work
uritemplate==3.0.1
urllib3==1.25.9
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
wcwidth==0.2.4
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
xlrd==1.2.0
xmltodict==0.12.0
yarg==0.1.9
zipp==3.1.0
zope.interface==5.1.0
